// Styling for the portfolio section
#portfolio {
  .container-fluid {
    max-width: 1920px;
    .portfolio-box {
      position: relative;
      display: block;
      .portfolio-box-caption {
        display: contents;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;
        height: 100%;

        position: absolute;
        text-align: center;

        .product-price {
          background: url('../img/bg-productcaption.jpg');
          font-family: 'Pangolin', cursive;
          font-size: 0.85rem;
          font-weight: 600;
        }
        .product-name {
          font-family: 'Pangolin', cursive;
          background:url('../img/bg-productcaption.jpg'); 
          font-size: 1.2rem;
        }
      }
    }
  }
}
